<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwZ6Lq0wtkiYs5Lbn9O_eNfHFIKkL9MK4</string>
	<key>GCM_SENDER_ID</key>
	<string>242778632070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twelveHours</string>
	<key>PROJECT_ID</key>
	<string>hours-929ea</string>
	<key>STORAGE_BUCKET</key>
	<string>hours-929ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242778632070:ios:a6fe581424a7313a5e0607</string>
</dict>
</plist>